.carousel-item{
    
    border-radius: 10px;
}


.aboutzoo{
    background-color: rgb(213, 246, 237);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;
}


.aboutzoo h1{
    color: rgb(41, 102, 48);
    display: flex;
    justify-content: center;
}
.aboutzoo p{
   display: flex;
   position:relative ;
   justify-content: center;
}

