/* h1{
    font-family: cursive;
    color: rgb(24, 91, 61);
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    font-size: 50px;

    
}
.pand{
    width: 100%;
    height: auto;
    background-color: rgb(239, 238, 236);
    
}
.pandoo{
    width: 100%;
    height: 500;
    background-color: aquamarine;
}
.pand2{
    background-color: rgb(162, 199, 180);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px;
} */

/* cards */
.serviceCards {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    gap: 50px; /* Add space between cards */
    flex-wrap: wrap; /* Allow wrapping if there are too many cards for one row */
}

.Scard {
    width: 20%; /* Set the width of each card to 20% */
    display: inline-block;
    text-align: center; /* Center align content */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
    position: relative;
    border-radius: 8px;
    box-sizing: border-box; /* Include padding and border in width calculation */
}

.Scard:hover {
    transform: scale(1.05); /* Enlarge on hover */
}

.Scard img {
    width: 280px;
    height: 280px;
    object-fit: cover; /* Keep image aspect ratio */
    
    
}

.Scard h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.4rem;
}
.Scard h6{
    color: white;
    font-size: 1rem;
}

.Scard p {
    font-size: 0.9rem;
    line-height: 1.5;
}

.Scard::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: rgb(130, 223, 147);
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.Scard:hover::after {
    width: 100%; /* Blue line expands on hover */
}
.card-group img{
    width: 30px;
    height: 50px !important;
}
 
.gain h1{
    color: rgb(35, 98, 77);
    text-align: center;
    justify-content: center;
}
.padocards{
    display: flex;
    position: relative;
}
.ppcard{
    width: 20%; /* Set the width of each card to 20% */
    display: inline-block;
    text-align: center; /* Center align content */
    position: relative;
    margin-bottom: 25px;
}
.ppcard img {
    width: 300px;
    height: 250px;
    margin-bottom: 5px;
}




